@import 'embercasts-library';

[class*='btn'] {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.btn-pop {
  display: inline-block;
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 0.4rem;
  color: #fff;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}
